<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('分类管理')" ></head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <title>Title</title>-->

<!--    <script th:src="@{/static/js/jquery.min.js}"></script>-->
<!--    <link rel="stylesheet"  th:href="@{/static/layui/css/layui.css}">-->
<!--    <script  th:src="@{/static/js/vue.min.js}"></script>-->
<!--    <script  th:src="@{/static/js/axios.min.js}"></script>-->


<!--    <script src="js/jquery.min.js"  ></script>-->
<!--    <link rel="stylesheet" href="layui/css/layui.css" >-->
<!--    <script src="js/vue.min.js" ></script>-->
<!--    <script src="js/axios.min.js"  ></script>-->
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商城后台管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="admin">分类列表</a></li>
            <li class="layui-nav-item"><a href="admin_order_list">订单列表</a></li>
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">nav groups</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">menu 11</a></dd>-->
<!--                    <dd><a href="">menu 22</a></dd>-->
<!--                    <dd><a href="">menu 33</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                         class="layui-nav-img">
                    当前用户
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">set 1</a></dd>
                    <dd><a href="">set 2</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">登陆</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="admin">商品分类</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="admin_user_list">用户信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="admin_order_list">订单管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="workingArea">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>图片</th>
                    <th>分类名称</th>
                    <th>属性管理</th>
                    <th>产品管理</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bean in beans">
                    <td>{{bean.id}}</td>
                    <td>
                        <img height="40px"  :src="'img/category/'+bean.id+'.jpg'">
                    </td>
                    <td>
                        {{bean.name}}
                    </td>
                    <td>
                        <a :href="'admin_property_list?cid=' + bean.id " class="layui-btn">属性管理</a>
                    </td>
                    <td>
                        <a :href="'admin_product_list?cid=' + bean.id " class="layui-btn">产品管理</a>
                    </td>
                    <td>
                        <a :href="'admin_category_edit?id=' + bean.id " class="layui-btn">编辑</a>
                    </td>
                    <td>
                        <a href="#nowhere"  @click="deleteBean(bean.id)" class="layui-btn layui-btn-danger">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
                    <div th:replace="include/admin/adminPage::html" ></div>

        <div class="layui-bg-gray" style="padding: 30px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-panel">
                        <div style="padding: 50px 30px;">
                                <table class="layui-table">
                                    <tr>
                                        <td>分类名称</td>
                                        <td><input  @keyup.enter="add" v-model.trim="bean.name" type="text" class="layui-input" placeholder="请输入新增分类名称"></td>
                                    </tr>
                                    <tr>
                                        <td>分类图片</td>
                                        <td>
                                            <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                                        </td>
                                    </tr>
                                    <tr >
                                        <td colspan="2" align="center">
                                            <a href="#nowhere"  @click="add" class="layui-btn">提交</a>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script>
    $(function(){
        var data4Vue = {
            uri:'categories',
            beans: [],
            bean:{id:0,name:''},
            pagination:{},
            file:null
        };
        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list:function(start){
                    var url =  this.uri+ "?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content   ;
                    });
                },
                add: function () {
                    if(!checkEmpty(this.bean.name, "分类名称"))
                        return;
                    if(!checkEmpty(this.file, "分类图片"))
                        return;
                    var url = this.uri;

                    //axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    formData.append("image", this.file);
                    formData.append("name", this.bean.name);
                    axios.post(url,formData).then(function(response){
                        vue.list(0);
                        vue.bean = { id: 0, name: ''};
                        $("#categoryPic").val('');
                        vue.file = null;
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length){
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },
                getFile: function (event) {
                    this.file = event.target.files[0];
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });
</script>

</body>
</html>